<% include ../partials/header %>
<div class="container">
    <h1 style="text-align:center"> Edit <%= campground.name %></h1>
    <!--width : resize the name, imageUrl At <input>-->
    <div style="width: 30%; margin:30px auto;">
        <!--get campgrounds._id and send PUT-->
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
            <!--add class name : form-group & add space btw elements -->
            <div class="form-group">
                <!--form-control : use bootstrap conponent-->
                <!--campground[]을 사용하면 action으로 campground로 묶어서 ojb처럼 보낼수있다. 보낸값을req.body.campground로 사용!-->
                <input class="form-control" type="text" name="campground[name]" value="<%= campground.name %>">    
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="campground[image]" value="<%= campground.image %>">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="campground[description]" value="<%= campground.description %>">
            </div>
            <div class="form-group">
                <!--btn-primary:btnColor, btn-blick:btn size-->
                <button class="btn btn-lg btn-primary btn-block">Submit!</button>
            </div>
        </form>
        <a href="/">Move to Home</a>    
    </div>
</div>
<% include ../partials/footer %>